@media screen and (min-width: 800px) {

    .width-25 {
        width: 25% !important;
    }

    .width-33 {
        width: 33.333% !important;
    }

}

.lectures-wrapper {
    overflow-y: scroll;
    overflow-x: hidden;
    position: fixed;
}

.popup .popup-text {
    font-size: 21px;
}

.primary-btn {
    line-height: 70px;
    font-family: 'proxima-nova';
    font-size: 14px;
    text-transform: uppercase;
    font-weight: 700;
    color: #ef4035;
    background: #ffffff;
    -webkit-transition: all .2s ease-out 0;
    -moz-transition: all .2s ease-out 0s;
    -o-transition: all .2s ease-out 0;
    transition: all .2s ease-out 0;
    padding: 0 60px;
    text-decoration: none;
    outline: 1px solid #ef4035;
    padding: 20px 40px;
}

.confirm:hover {
    background: #ef4035;
    color: #ffffff
}


.noscroll {
    overflow: hidden;
}

.tt-wrap li {
    font-size: 1.5vh;
}


.events-font-size{
    font-size: 25px;
}

.md-modal {
    position: fixed;
    top : 0;
    left: 0;
    animation: zoomIn 0.5s cubic-bezier(0.165, 0.84, 0.44, 1) forwards;
}




@keyframes zoomIn {
    0% {
        overflow: hidden;
        transform: scale(0);
    }
    100% {
        overflow-y: scroll;
        overflow-x: hidden;
        transform: scale(1);
    }
}

.inner_tt {
    text-align: center;
    color: #fff;

}
 
.timetable_wrap .link-outer {
    background: #fff;
}
.timetable_wrap .link-outer:hover {
    background: #ef4035;
    color: white;
}

.timetable-wrapper a:hover {
    text-decoration: none;
}

.time_wrap {
    width: 200px;
    float: left;
    font-size: 20px;
    color: #FFB755;
}

.name_wrap {
    font-size: 25px;
    color: #fff;
    font-weight: 600;
    margin: 0 0 10px;
}

.inner_tt hr {
    border: 1px solid #ef4035;
    /*width: 75%;*/
    margin-top: : 20px;
    margin-bottom: 20px;
}

.inner_tt .title h1 {
    font-size: 70px;
    font-weight: 600;
}

.tt-inner {
    cursor: pointer;
    background:url('../img/bg-tt.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;

}

.tt-style ul {
    list-style: none;
}
.tt-wrap li.tt-li-time {
    color: #bbbbbb;
    font-family: 'futura-pt';
    font-size: 12px;
    text-align: center;
    padding-right: 50px;
    text-transform: capitalize;



}
li.tt-li-para {
    color: white;
    text-align: center;
    font-family: 'futura-pt';
    padding-right: 50px;
    padding-bottom: 9px;
    font-size: 14px;
}
h4.day-t{
    padding: 10px;
    font-family: 'futura-pt';
    font-weight: 200;
    font-size: 30px;
    text-align: center;
    color: white;
    padding-top: 30px;
}
.legacy-para {
    padding-bottom: 2px;
}

.lectures-wrapper .one-row .lecture-box .title a {
    color: black;
}

/*.lectures-wrapper .one-row .lecture-box:hover .title a {
    color: white;
}
*/

.fullBackground {
  background-position: center center;
  background-attachment: fixed;
  background-size: cover;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}


.form-wrapper .event_heading .lectures-box {
    width: 20%;
    float: left;
    /*border: 1px solid white;*/
    border: 0px solid white;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    /*border-right: 1px;*/
    padding: 65px 20px 70px;
    position: relative;
    height: 205px;
    cursor: pointer;
    -webkit-transition: all .2s ease-out 0;
    -moz-transition: all .2s ease-out 0s;
    -o-transition: all .2s ease-out 0;
    transition: all .2s ease-out 0
}

.form-wrapper .event_heading .lectures-box span {
    font-size: 20px;
}

/*.form-wrapper .event_heading .lectures-box:hover, .tech-click, .nontech-click, .cult-click {
    background: white;
}*/

/*.form-wrapper .event_heading .lectures-box:hover span{
    color:black;
}*/
.tech-click1, .nontech-click1, .cult-click1 {
    color:black !important;
}

.showing {
    display: none;
}

.footer{
    text-align: center;
}

footer {
  background: #000;
  color: #fff;
  text-align: center;
  padding: 50px 0 50px;
  overflow-y: hidden;
}
footer div {
  font-size: 14px;
}
@media (max-width: 1000px) {
  footer {
    height: auto;
  }
}
footer a {
  color: #fff;
}
footer a:hover {
  color: #fff;
}
/*.dateandtime{
  position: absolute;
left: 50px;
 
}
.dateandtime2{
    position: absolute;
   
right: 50px;
}*/
footer .menu-footer {
  list-style: none;
  padding: 0;
  text-align: center;
  margin: 30px auto;
}
footer .menu-footer li {
  margin-bottom: 5px;
  display: inline-block;
}
footer .menu-footer li a {
  color: #fff;
  font-weight: 500;
  font-size: 16px;
  text-transform: uppercase;
  font-weight: 600;
  margin: 0 15px;
}
footer .menu-footer li a:hover {
  color: #ef4035;
}
footer .menu-footer li.active a {
  color: #AC94DD;
  cursor: default;
}
@media (max-width: 1000px) {
  footer .menu-footer {
    /*padding: 20px 0;*/
  }
  footer .menu-footer li {
    /*float: left;*/
    /*width: 50.0%;*/
    /*margin: 5px 0;*/
  }
}
@media (max-width: 991px) {
  footer .social {
    /*margin: 0px 0px 20px;*/
  }
}
 

footer .social a {
  margin-right: 16px;
  line-height: 40px;
  font-size: 20px;
  width: 40px;
  height: 40px;
  /*background: #d2d5d8;*/
  color: #000;
  transition: background .5s ease;
}
footer .social a:hover {
  /*background: #4a4b4c;*/
  color: #fff;
}
@media (max-width: 387px) and (min-width:350px) {
  footer .social li a {
    margin:0 5px;
  }
}
@media (max-width: 350px) {
  footer .social li a {
    margin:0 auto;
  }
}





/* 16. Social links */
footer .social {
  list-style: none;
  margin: 0px 0px 0 0;
  padding: 0;
}
footer .social li {
  display: inline;
  margin-right: 0px;
}
footer .social a {
  color: #AC94DD;
  display: inline-block;
  text-align: center;
  width: 20px;
  height: 20px;
  line-height: 25px;
  font-size: 14px;
  transition: color 0.5s ease;
}
footer .social a:hover {
  color: #7961AA;
}

.locate-wrapper .title {
    padding-bottom: 30px;
}


.locate-wrapper .subtitle {
    position: relative;
    display: block;
    font-family: 'Merriweather';
    font-weight: 300;
    font-size: 21px;
    line-height: 1.8em;
    text-align: left;
    padding-right: 0;
    padding-bottom: 20px;
    color: #7c7c7c
}

.locate-wrapper {
    padding-top: 0px;
    padding-bottom: 20px;
}

#myMap {
  height: 450px;
  width: 100%;
  /*position: absolute;*/
  /*margin-top: 55px;*/
   /*Vertical margin for form */
   /*overflow: visible;*/
   
  z-index: 12;
}

.form-wrapper .lectures-box img {
    margin-top: -50px;

}

.form-wrapper .lectures-box {
   text-align: center;
}

.form-wrapper .event_heading .lectures-box {
    background: none;
}

.form-wrapper .showing .lectures-box {
    background: #f7f9d1;
    /*color:black;*/
    border: 10px solid #28282e;

}

.form-wrapper .showing .lectures-box .lecture-title {
    color: #28282e;
    font-size: 18px;
    /*top: 0px;*/
}

.form-wrapper .showing .lectures-box:hover .lecture-link {
    color:#ef4035;
}

.form-wrapper .showing .lectures-box:hover {
    background: white
}